.forgot-pass {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  justify-content: center;
}

.forgot-form {
  max-width: 100%;
  background-color: #fff;
  padding: 6% 8%;
  font-size: 90%;
  font-family: inherit;
  color: $font-light;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

html.nuit .forgot-form {
  color: $bg-night;
}

.forgot-form h1.title-pages {
  font-size: 180%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10%;
}

.forgot-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.forgot-form label {
  display: block;
  margin-bottom: 2%;
}

.forgot-form input {
  width: 100%;
  padding: 4%;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid $title-icons-light;
  box-sizing: border-box;
  color: $title-icons-light;
}

html.nuit .forgot-form input {
  border: 1px solid $title-icons-night;
  color: $title-icons-night;
}

.forgot-form input::placeholder {
  opacity: 0.5;
}

.forgot-form input:focus {
  outline: none;
  border-color: $font-light;
}

html.nuit .forgot-form input:focus {
  border-color: $bg-night;
}

.forgot-form button {
  margin-top: 8%;
  border: 1px solid $title-icons-light;
  background-color: $title-icons-light;
  padding: 3%;
  color: $bg-light-font-night;
  border-radius: 10px;
}

html.nuit .forgot-form button {
  border: 1px solid $title-icons-night;
  background-color: $title-icons-night;
  color: $bg-night;
}

.forgot-form .btn-forgot:hover {
  background-color: $font-light;
  border-color: $font-light;
}

html.nuit .forgot-form .btn-forgot:hover {
  background-color: $bg-night;
  border-color: $bg-night;
  color: $bg-light-font-night;
}