.signup-form {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  background-color: #fff;
  padding: 4%;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

html.nuit .form {
  background-color: $bg-light-font-night;
}

.title {
  font-size: 150%;
  color: $title-icons-light;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

html.nuit .title {
  color: $title-icons-night;
}

.title::before, .title::after {
  position: absolute;
  content: "";
  height: 16%;
  width: 16%;
  border-radius: 50%;
  left: 0;
  background-color: $title-icons-light;
}

html.nuit .title::before {
  background-color: $title-icons-night;
}

html.nuit .title::after {
  background-color: $title-icons-night;
}

.title::before {
  width: 2%;
  height: 2%;
  background-color: $bg-light-font-night;
}

html.nuit .title::before {
  background-color: $bg-light-font-night
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: $font-light;
  font-size: 80%;
  margin-top: 4%;
}

html.nuit .message {
  color: $title-icons-night;
}

html.nuit .signin {
  color: $title-icons-night;
}

.signin {
  text-align: center;
}

.signin a {
  color: $font-light;
}

html.nuit .signin a {
  color: $title-icons-night;
}

.signin a:hover {
  text-decoration: underline $title-icons-light;
}

html.nuit .signin a:hover {
  text-decoration: underline $bg-night;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 6%;
  outline: 0;
  border: 1px solid $font-light;
  border-radius: 10px;
  margin-top: 6%;
}

html.nuit .form label .input {
  border: 1px solid $bg-night;
  background-color: transparent;
}

.submit {
  border: none;
  outline: none;
  background-color: $title-icons-light;
  padding: 4%;
  border-radius: 10px;
  color: $bg-light-font-night;
  font-size: 90%;
  transition: .3s ease;
  margin-top: 6%;
  width: 100%;
}

html.nuit .submit {
  background-color: $title-icons-night;
  color: $bg-night;
}

.submit:hover {
  background-color: $bg-light-font-night;
  color: $title-icons-light;
  border: 1px solid $title-icons-light;
}

html.nuit .submit:hover {
  background-color: $bg-night;
  color: $title-icons-night;
  border: 1px solid $title-icons-night;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}