@import 'src/styles/imports';
@import 'src/styles/variables';
@import 'src/styles/generals';
@import 'src/styles/navbar';
@import 'src/styles/footer';
@import 'src/styles/concept';
@import 'src/styles/team';
@import 'src/styles/contact';
@import 'src/styles/politics';
@import 'src/styles/listRestau';
@import 'src/styles/detailsRestau';
@import 'src/styles/createEditRestauForm';
@import 'src/styles/editProfiles';
@import 'src/styles/adminProfile';
@import 'src/styles/userProfile';
@import 'src/styles/signupForms';
@import 'src/styles/logoutForms';
@import 'src/styles/loginForms';
@import 'src/styles/forgotPassword';
@import 'src/styles/home';


body {
  background-color: $bg-light-font-night;
  color: $font-light;
  font-family: $font;
  margin: 0 5% 2% 5% !important;
  padding-top: 6%;
}

html.nuit body {
  background-color: $bg-night;
  color: $bg-light-font-night;
}

html.nuit .gold {
  background-color: $bg-night;
  color: $title-icons-night;
}